body {
  font-size: 55px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
}

* {
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  perspective-origin: 50% 100px;
  background: #7531FF
}

.container .d3 {
  background: transparent;
  border: none;
  position: relative;
  transform-style: preserve-3d;

}

.container::before {
  content: "Hover Me";
  position: absolute;
  top: 16%;
  font-family: Helvetica, sans-serif
}

.container div {
  background: #124589;
  color: white;
  border: .5px solid #1235;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
  transition: 3.5s;

}

.d3:hover div {
  border-width: 40px;
  transition: 1.6s;
  border-radius: 50%;
  transform: rotatey(70deg) rotatex(10deg) scale(.5);
}

.d3:hover .front {
  right: -100px;
}


.back {
  transform: translateZ(-100px) rotateY(180deg);
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}

.top {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
}

.bottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
}

.front {
  transform: translateZ(100px);
}


@keyframes spin {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotatey(1turn);
  }
}

.d3 {
  animation: spin 7s infinite linear;
}