body {
  font-size: 55px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
}

* {
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 900px;
  perspective-origin: 60% 200px;
  background: #7531FF
}

@media (max-width: 761px) {
  .container {
    perspective-origin: 50% 100px;

  }
}

.container .d3 {
  background: transparent;
  border: none;
  position: relative;
  transform-style: preserve-3d;

}

h1 {
  position: absolute;
  top: 5%;
  font-size: 50px;
  color: snow;
  transform: rotateX(60deg) translatey(50px);
  border: 5px solid #062F71;
  padding: 20px;
  transform-origin: bottom center;
  font-family: Helvetica, sans-serif
}


h1::before {
  content: "";
  position: absolute;
  bottom: -85px;
  left: 50%;
  transform: translatex(-50%);
  border-width: 40px;
  border-style: solid;
  border-color: #080808 transparent transparent transparent
}

@media (min-width: 762px) {
  h1 {
    font-size: 80px;
    top: 27%;
  }

}


.container div {
  background: rgba(0, 0, 0, .3);
  color: white;
  border: 1.5px solid #1235;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
}

.d3:hover div {
  border-width: 40px;
  border-radius: 50%;
  transform: rotatey(80deg) rotatex(30deg) scale(.7);

}

.d3 div {
  transition: 1.5s linear;
animation-delay: .5s
}

.d3:hover .front {
  right: -100px;
}


.back {
  transform: translateZ(-100px) rotateY(180deg);
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}

.top {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
}

.bottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
}

.front {
  transform: translateZ(100px);
}


@keyframes spin {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotatey(1turn);
  }
}

.d3 {
  animation: spin 6s infinite linear;
}